<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ControllerIp" value="192.168.0.11" />
    <add key="debug" value="0" />
    <add key="debugip" value="127.0.0.1" />
    <add key="AxisNumber" value="2" />
    <add key="Axis_X_index" value="0" />
    <add key="Axis_Y_index" value="3" />
    <add key="Axis_Z_index" value="4" />
    <add key="HandEncode" value="5" />
    <add key="RadiusMax" value="400" />
    <add key="RadiusMin" value="0" />
    <add key="RotSpeedMax" value="100" />
    <add key="LineSpeedMax" value="200" />
    <add key="AxisesConfigFile" value="axisConfig" />
    <add key="ZeroPhaseFile" value="ZeroMark.conf" />
    <add key="StandardCalddingPath" value="\LaserAPP\Cladding\StandardPart\" />
    <add key="Settings" value="\configs\settings.json" />
    <add key="SettingsSimula" value="\configs\settingsSimula.json" />
    <add key="Axis_X" value="0" />
    <add key="Axis_Y" value="2" />
    <add key="Axis_Z" value="4" />
    <add key="Axis_A" value="1" />
    <add key="Axis_C" value="3" />
    <add key="Axis_R" value="5" />
    <add key="varDoAction" value="DoAction" />
    <add key="varSystemStatus" value="SystemStatus" />
    <add key="varCycleStatus" value="CycleStatus" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>